.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    height: 100dvh; /* высота экрана без лишних */
    position: sticky;
    top: 0;

    border: 1px solid ;

    width: 28rem;
    max-width: 28rem;

    padding: 3rem 1.6rem;
}